<h1>link-href: <code>a</code> element that can be disabled</h1>

<p>Usage:</p>

<pre>
<code>
&#x7B;&#x7B;#link-href "/target/href"&#x7D;&#x7D;
&#x7B;&#x7B;#link-href "/target/href" disabled=isDisabled&#x7D;&#x7D;
&#x7B;&#x7B;#link-href "/target/href" disabled=isDisabled target="_blank"&#x7D;&#x7D;
</code>
</pre>

{{outlet}}

<hr>

<p>{{#link-href "https://github.com/alisdair/link-disable"}}GitHub source{{/link-href}}</p>
